html {
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 3rem;
    white-space: nowrap;
}

h2 {
    color: black;
    text-align: left;
}

.blu {
    background-color: #006cfa;
    border: 1px solid white;
}

.green {
    background-color: #00e165;
    border: 1px solid #006cfa;
}