body {
    background-color: black;
}

.container-fluid {
    max-width: 480px;
    height: 716px;
    margin: 0 auto;
    padding-top: 50px;
}

.red {
    background-color: #a52b29;
    height: 10px;   
}

.yellow {
    background-color: #fac76c;
    height: 10px;
}

.white {
    background-color: white;
    height: 10px;
}